body{
    background-color: lightskyblue;
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}
.adder{
    position: relative;
    width: 250px;
    margin: 0px auto;
    display: block;
}
input{
    background-color: lightskyblue;
    border: none;
    border: 1px solid white;
    color: white;
    height: 50px;
    width: 250px;
    padding-left: 10px;
    font-weight: 800;
    font-size: 16px;
    margin-left: -5px;
}
span {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    color: white;
    font-weight:800 ;
    line-height: 1.8;
    transition: all 200ms;
      cursor: pointer;
      &:hover{
        transform: rotate(180deg);
      }
}
.draggable {
    font-weight: 800;
    height: 50px;
    list-style-type: none;
    margin: 10px;
    background-color: white;
    color: lightskyblue;
    width: 250px;
    line-height: 3.2;
    padding-left: 10px;
    cursor: move;
    transition: all 200ms;
    user-select: none;
    margin: 10px auto;
    position: relative;
    &:after {
        content: 'drag me';
        right: 7px;
        font-size: 10px;
        position: absolute;
        cursor: pointer;
        line-height: 5;
        transition: all 200ms;
        transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.50);
        transform: translateX(120%);
        opacity: 0;
      }
}
.over {
    transform: scale(1.1, 1.1);
  }